In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_csv("/Users/louisadam/Documents/GitHub/Repo_G1_Dataset_2_flower/Dataset_2_flower.csv",sep="|")
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,level_0,Unnamed: 0.1.1.1,index,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,0,0,20,20,65,66,6.7,3.1,4.4,1.4,Iris-versicolor
1,1,1,1,103,103,56,57,6.3,3.3,4.7,1.6,Iris-versicolor
2,2,2,2,544,544,23,24,5.1,3.3,1.7,0.5,Iris-setosa
3,3,3,3,277,277,26,27,5.0,3.4,1.6,0.4,Iris-setosa
4,4,4,4,261,261,142,143,5.8,2.7,5.1,1.9,Iris-virginica
...,...,...,...,...,...,...,...,...,...,...,...,...
3745,3745,3745,3745,201,201,0,1,5.1,3.5,1.4,0.2,Iris-setosa
3746,3746,3746,3746,250,250,106,107,4.9,2.5,4.5,1.7,Iris-virginica
3747,3747,3747,3747,273,273,64,65,5.6,2.9,3.6,1.3,Iris-versicolor
3748,3748,3748,3748,684,684,127,128,6.1,3.0,4.9,1.8,Iris-virginica
3749,3749,3749,3749,706,706,25,26,5.0,3.0,1.6,0.2,Iris-setosa