In [255]:
import pandas as pd
import numpy as np
import math
from sklearn.preprocessing import LabelEncoder

pd.set_option('display.max_rows', 1000)

In [256]:
df = pd.read_csv("/Users/louisadam/Documents/GitHub/Repo_G1_Dataset_2_flower/Dataset_2_flower.csv",sep="|")

In [257]:
df.dtypes

Unnamed: 0            int64
Unnamed: 0.1          int64
Unnamed: 0.1.1        int64
level_0              object
Unnamed: 0.1.1.1     object
index                object
Id                   object
SepalLengthCm        object
SepalWidthCm        float64
PetalLengthCm       float64
PetalWidthCm        float64
Species              object
dtype: object

In [258]:
df=df.drop(["Id","index","Unnamed: 0","Unnamed: 0.1","Unnamed: 0.1.1","level_0","Unnamed: 0.1.1.1"],axis=1)
#df

In [259]:
df.dtypes

SepalLengthCm     object
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [260]:
df.loc[(df.SepalLengthCm == 'None'),'SepalLengthCm']= math.nan

In [261]:
df = df.astype({'SepalLengthCm': float})

In [262]:
df.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [263]:
moy=df["SepalLengthCm"].mean()
print(moy)

5.845810810810811

In [264]:
df['SepalLengthCm'].value_counts()

5.0    245
6.3    222
5.1    219
5.7    198
6.7    196
5.8    174
5.5    173
6.4    173
6.0    150
5.4    149
6.1    149
5.6    148
4.9    147
6.5    124
4.8    123
7.7    100
5.2     99
6.2     99
4.6     99
6.9     98
5.9     75
7.2     75
4.4     73
6.8     73
6.6     49
4.7     48
5.3     25
7.6     25
7.9     25
7.0     25
7.1     25
4.5     25
7.4     24
4.3     24
7.3     24
Name: SepalLengthCm, dtype: int64

In [265]:
df['SepalWidthCm'].value_counts()

3.0    650
2.8    350
3.2    325
3.4    300
3.1    300
2.9    250
2.7    225
2.5    200
3.8    150
3.3    150
3.5    150
2.6    125
2.3    100
3.6     75
2.4     75
3.7     75
2.2     75
3.9     50
2.0     25
4.0     25
4.4     25
4.1     25
4.2     25
Name: SepalWidthCm, dtype: int64

In [266]:
df['PetalLengthCm'].value_counts()

1.5    350
1.4    300
4.5    200
5.1    200
1.3    175
1.6    175
5.6    150
4.9    125
4.0    125
4.7    125
1.7    100
4.4    100
5.0    100
4.8    100
4.2    100
4.1     75
4.6     75
5.5     75
3.9     75
5.8     75
5.7     75
6.1     75
5.3     50
1.9     50
5.9     50
3.5     50
6.0     50
1.2     50
3.3     50
5.2     50
6.7     50
4.3     50
5.4     50
6.9     25
1.1     25
3.8     25
6.6     25
3.6     25
1.0     25
6.4     25
3.0     25
6.3     25
3.7     25
Name: PetalLengthCm, dtype: int64

In [267]:
df['PetalWidthCm'].value_counts()

0.2    700
1.3    325
1.8    300
1.5    300
2.3    200
1.4    200
1.0    175
0.3    175
0.4    175
2.1    150
2.0    150
0.1    150
1.9    125
1.2    125
1.6    100
1.1     75
2.5     75
2.2     75
2.4     75
1.7     50
0.6     25
0.5     25
Name: PetalWidthCm, dtype: int64

In [268]:
df['Species'].value_counts()

Iris-setosa        1250
Iris-virginica     1250
Iris-versicolor    1250
Name: Species, dtype: int64

In [269]:
df=df.fillna(moy)
df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,6.7,3.1,4.4,1.4,Iris-versicolor
1,6.3,3.3,4.7,1.6,Iris-versicolor
2,5.1,3.3,1.7,0.5,Iris-setosa
3,5.0,3.4,1.6,0.4,Iris-setosa
4,5.8,2.7,5.1,1.9,Iris-virginica
...,...,...,...,...,...
3745,5.1,3.5,1.4,0.2,Iris-setosa
3746,4.9,2.5,4.5,1.7,Iris-virginica
3747,5.6,2.9,3.6,1.3,Iris-versicolor
3748,6.1,3.0,4.9,1.8,Iris-virginica
3749,5.0,3.0,1.6,0.2,Iris-setosa